@font-face {
    font-family: "Garet Book";
    src: url('../assets/Garet-Book.otf');
    src: url('../assets/Garet-Book.woff2') format('woff2'),
         url('../assets/Garet-Book.woff') format('woff'),
         url('../assets/Garet-Book.ttf') format('truetype');
}